*{}
body {font-family:'noto sans', helvetica;
		background: #00735c;		
}
.container{width: 75vw;min-height: 60vh;display:flex;
align-self:center;background-color:#edf0ee;border-radius:20px;margin:auto;color:#00493a;
flex-direction:column;justify-content:center;overflow:hidden;
box-shadow:5px 5px 20px 2px black;}


.container button{border-radius:3px;background: #00493a;color: #edf0ee;width:100px;height: 30px;border: solid #00493a 5px;display:flex;align-items:center;flex-direction:row;margin:15px;justify-content:center;}
.container p{font-size: 1rem;margin:0.1rem;margin: auto;}
.container input{height: 1rem;border-radius: 3px;border: solid #00493a 1px;width: 50vw;margin: auto;background: transparent;}
.container h1, .signin h1{text-align:center;color: #00493a;}
.buttons{display:flex;flex-direction:row;justify-content:space-around;}
.main{display:flex;align-items:center;width:100%;min-height:100vh}
.container select{height: 2rem;border-radius: 3px;border: solid #00493a 1px;width: 50vw;margin:auto;background: transparent;}
.container form{padding-left:7px}
.container label{padding:7px 0px 7px 0px;}
.container a{text-decoration:none;}
.date{background: transparent;}






.main2{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100vh;width:100vw;font-family:helvetica;}
.signin{background: #edf0ee;height: 400px;width: 50vw;margin:auto;display:flex;flex-direction:column;justify-content:center;box-shadow:0 0 20px 5px black;flex-wrap:wrap;border-radius: 20px;}
.signin input{background: transparent;border:solid 2px #00493a;height: 2rem;border-radius: 3px;width: 50%;margin-left:10px;}
.signin input:hover{box-shadow:0 0 20px 5px #606462;border:none}

.signin p{color: #00493a;margin-left:10px;}
.signin button{width: 50%;height: 2rem;margin-left:10px;margin-top:1rem;border-radius: 3px;border:none;background: #00493a;display:block;}

@media(max-width:960px){
.container,.signin{width: 75vw;}
				
}
